*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!challenges/
challenges/*
!challenges/people-operations/
challenges/people-operations/*
!challenges/people-operations/demo/
!challenges/people-operations/demo/**
challenges/people-operations/demo/dist
challenges/people-operations/demo/node_modules
